.title {
    text-align: center;
    color: rgb(10, 230, 39);
}

.linha {
    border-bottom: 3px solid transparent;
    border-image: linear-gradient(to right, #688308 0%, #10c510 100%);
    border-image-slice: 3
}

.toolbar_preta {
    --background: rgb(15, 15, 15);
}

.fundo_geral {
    --background:rgb(35, 35, 35);
}

.button_bulbasauro {
    //--background: linear-gradient(to right, #11998e, #38ef7d);
    --background: linear-gradient(to right, #688308, #10c510);
    color: black;
}
.barra_progresso {
    --progress-background:  rgb(10, 230, 39);
    //--buffer-background: green;
    --background: rgb(251, 255, 0);
}

.button_text {
    --background: red;
    color: yellow;
}

.tamanho_texto {
    width: auto;
    text-align: center;
}

.cor_texto {
    color: white;
}

.button_text_planta {
    --background: rgb(10, 230, 39);
    color: rgb(0, 0, 0);
    height: 17px;
}

.button_text_venenoso {
    --background: rgb(98, 0, 255);
    color: rgb(255, 255, 255);
    height: 17px;
}

.origem_text {
    text-align: center;
    color: rgb(10, 230, 39);
}

.nomes {
    text-align: center;
    color: white;
    font-style: italic;
}

.imagens_centro {
    text-align: center;
}

.text_num_pokedex {
    text-align: center;
    font-size: 20px;
    color: white;
}

.cor_verde_text {
    color: rgb(10, 230, 39);
    font-style: oblique;
}

.grid_center {
    text-align: center;
}

.first_col {
    color: white;
}

.second_col {
    color: rgb(10, 230, 39);
}