<ion-header>
  <ion-toolbar class="toolbar_preta">
    <ion-title class="title"> Charmander </ion-title>
  </ion-toolbar>
</ion-header>

<ion-progress-bar type="indeterminate" class="barra_progresso"></ion-progress-bar>

<ion-content class="fundo_geral">

  <br>
  <br>
  <br>
  <br>

  <div class="text_num_pokedex">
    <ion-label> Nº Pokédex: <span class="cor_veremelha_text"> #4 </span></ion-label>
  </div>

  <img src="assets/charmander.png" width="350" height="350"> <br>

  <br>
  <br>
  <br>
  <br>
  <br>

  <div class="tamanho_texto">
    <ion-label class="cor_texto"> 
      Charmander é um Pokémon do tipo <ion-chip class="button_text_fogo"> Fogo </ion-chip> <br> que foi introduzido na Geração I. É um dos <br> três pokémons iniciais de Kanto, junto <br> com Squirtle e Bulbasaur. Ele evolui para <ion-chip class="button_text_fogo"> Charmeleon </ion-chip> no nível 16 e para <br> <ion-chip class="button_text_fogo"> Charizard </ion-chip> no nível 36.
    </ion-label>
  </div>

  <br>
  <br>

  <ion-title class="origem_text"> Origem do nome </ion-title>

  <br>

  <div class="tamanho_texto">
    <ion-label class="cor_texto">
      Seu nome vem das palavras Char (queimar, carbonizar) e salamander (salamandra). Seu nome literalmente significa Salamandra Quente.
    </ion-label>
  </div>

  <br>
  <br>

  <ion-title class="origem_text"> Fisiologia </ion-title>

  <br>

  <div class="tamanho_texto">
    <ion-label class="cor_texto">
      Charmander é um pequeno largato bípede que tem a cor laranja. Ele tem olhos azuis e em sua calda tem uma chama. Sua barriga até a ponta da cauda é amarela.
    </ion-label>
  </div>

  <br>
  <br>
  <br>
  <br>

  <div class="imagens_centro">
    <ion-title class="origem_text">
      Cadeia evolutiva de Charmander
    </ion-title>
    <img src="assets/charmander.png" width="250" height="250" class="imagens_centro"> <br>
    <ion-label class="nomes linha"> Charmander </ion-label> <br> <br> <br> <br>
    <img src="assets/Charmeleon.png" width="250" height="250" class="imagens_centro"> <br>
    <ion-label class="nomes linha"> Charmeleon (Nivel 16) </ion-label> <br> <br> <br> <br>
    <img src="assets/Charizard.png" width="250" height="250" class="imagens_centro"> <br>
    <ion-label class="nomes linha"> Charizard (Nivel 36)</ion-label> <br> <br> <br> <br>
  </div>

  <br>
  <br>
  <br>

  <ion-grid class="grid_center">

    <ion-row>
      <ion-col class="first_col">
        Habilidade Especial
      </ion-col>
      <ion-col class="second_col">
        Mar de chamas
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col class="first_col">
        Tipo
      </ion-col>
      <ion-col class="second_col">
        Fogo
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col class="first_col">
        Espécie
      </ion-col>
      <ion-col class="second_col">
        Lagarto
      </ion-col>
    </ion-row>

  </ion-grid>

  <br>
  <br>
  <br>

  <ion-button href="/tela-inicial-pokemons" class="button_charmander"> Voltar </ion-button>

</ion-content>

<ion-progress-bar type="indeterminate" class="barra_progresso"></ion-progress-bar>

<ion-toolbar class="toolbar_preta">
  <ion-title class="title">
    By Luigi - 2° DS - Turma B
  </ion-title>
</ion-toolbar>
