<ion-header>
  <ion-toolbar class="toolbar_preta">
    <ion-title class="title">
        POKEDEX
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-progress-bar type="indeterminate" class="barra_progresso" reversed="true"></ion-progress-bar>
<ion-progress-bar type="indeterminate" class="barra_progresso"></ion-progress-bar>

<ion-content padding class="fundo_geral">

  <ion-grid>



    <ion-row class="linha">

      <ion-col>
        <img src="assets/charmander.png" width="170" height="170">
      </ion-col>

      <ion-col>
         <ion-label class="text_red"> CHARMANDER </ion-label> <br> <br>
         <ion-label class="text_red"> Salamandra </ion-label> <br> <br>

         <ion-button href="/saiba-mais-charmander" class="button_charmander"> Saiba Mais </ion-button> <br> <br>

         <ion-chip class="fundo_vermelho"> Fogo </ion-chip> 
         <ion-chip class="fundo_vermelho"> Ember </ion-chip> <br> <br>
      </ion-col>

    </ion-row>

    <br>
    <br>

    <ion-row class="linha">

        <ion-col>
          <img src="assets/Bulbasauro.png" width="170" height="170">
        </ion-col>

        <ion-col>
           <ion-label class="text_green"> BULBASAURO </ion-label> <br> <br>
           <ion-label class="text_green"> Sapo </ion-label> <br> <br>

           <ion-button href="/saiba-mais-bulbasauro" class="button_rayquaza"> Saiba Mais </ion-button> <br> <br>

           <ion-chip class="fundo_verde"> Planta </ion-chip> 
           <ion-chip class="fundo_verde"> Cavar </ion-chip> <br> <br>
        </ion-col>

      </ion-row>

      <br>
      <br>

      <ion-row class="linha">

          <ion-col>
            <img src="assets/squirtle.png" width="170" height="170">
          </ion-col>

          <ion-col>
             <ion-label class="text_blue"> SQUIRTLE </ion-label> <br> <br>
             <ion-label class="text_blue"> Tartaruga </ion-label> <br> <br>

             <ion-button href="/saiba-mais-squirtle" class="button_articuno"> Saiba Mais </ion-button> <br> <br>

             <ion-chip class="fundo_azul"> Agua </ion-chip> 
             <ion-chip class="fundo_azul"> Aqu. Ta. </ion-chip> <br> <br>
          </ion-col>

        </ion-row>

        <br>
        <br>

        <ion-row class="linha">

          <ion-col>
            <img src="assets/pikacu.png" width="170" height="170">
          </ion-col>

          <ion-col>
             <ion-label class="text_yellow"> PIKACHU </ion-label> <br> <br>
             <ion-label class="text_yellow"> Rato </ion-label> <br> <br>

             <ion-button href="/saiba-mais-pikachu" class="button_pikachu"> Saiba Mais </ion-button> <br> <br>

             <ion-chip class="fundo_amarelo"> Elétr. </ion-chip> 
             <ion-chip class="fundo_amarelo"> Choq. T. </ion-chip> <br> <br>
          </ion-col>

        </ion-row>

        <br>
        <br>

        <ion-row class="linha">

          <ion-col>
            <img src="assets/Pidgey.png" width="170" height="170">
          </ion-col>

          <ion-col>
             <ion-label class="text_grey"> PIDGEY </ion-label> <br> <br>
             <ion-label class="text_grey"> Pomba </ion-label> <br> <br>

             <ion-button href="/saiba-mais-pidgey" class="button_onix"> Saiba Mais </ion-button> <br> <br>

             <ion-chip class="fundo_cinza"> Voador </ion-chip> 
             <ion-chip class="fundo_cinza"> Twist. </ion-chip> <br> <br>
   
          </ion-col>

        </ion-row>



  </ion-grid>


</ion-content>


<ion-progress-bar type="indeterminate" class="barra_progresso"></ion-progress-bar>
<ion-progress-bar type="indeterminate" class="barra_progresso" reversed="true"></ion-progress-bar>


<ion-toolbar class="toolbar_preta">
  <ion-title class="title">
    By Luigi - 2° DS - Turma B
  </ion-title>
</ion-toolbar>