<ion-header>
  <ion-toolbar class="toolbar_preta">
    <ion-title class="title"> Pidgey </ion-title>
  </ion-toolbar>
</ion-header>

<ion-progress-bar type="indeterminate" class="barra_progresso"></ion-progress-bar>

<ion-content class="fundo_geral">

  <br>
  <br>
  <br>
  <br>

  <div class="text_num_pokedex">
    <ion-label> Nº Pokédex: <span class="cor_marrom_text"> #16 </span></ion-label>
  </div>

  <img src="assets/Pidgey.png" width="350" height="350"> <br>

  <br>
  <br>
  <br>
  <br>
  <br>

  <div class="tamanho_texto">
    <ion-label class="cor_texto"> 
      Pidgey é um Pokémon do tipo <ion-chip class="button_text_voador"> Normal </ion-chip> e <ion-chip class="button_text_voador"> Voador </ion-chip> introduzido na Geração I.
    </ion-label>
  </div>

  <br>
  <br>

  <ion-title class="origem_text"> Origem do nome </ion-title> 
  
  <br>

  <div class="tamanho_texto">
    <ion-label class="cor_texto">
      Seu nome podem vir das palavras Pideon (pombo em inglês) e o Y pode ser por indicar sua miniatura.
    </ion-label>
  </div>

  <br>
  <br>

  <ion-title class="origem_text"> Fisiologia </ion-title>

  <br>

  <div class="tamanho_texto">
    <ion-label class="cor_texto">
      Pidgey tem um bico rosa e lindas penas marrons e amarelas. Em volta de seu olho tem uma mancha preta, sua cauda tem penas marrons e patas rosas.
    </ion-label>
  </div>

  <br>
  <br>
  <br>
  <br>

  <div class="imagens_centro">
    <ion-title class="origem_text">
      Cadeia evolutiva de Pidgey
    </ion-title>
    <img src="assets/Pidgey.png" width="250" height="250" class="imagens_centro"> <br>
    <ion-label class="nomes linha"> Pidgey </ion-label> <br> <br> <br> <br>
    <img src="assets/Pidgeotto.png" width="250" height="250" class="imagens_centro"> <br>
    <ion-label class="nomes linha"> Pidgeotto (Nivel 16) </ion-label> <br> <br> <br> <br>
    <img src="assets/Pidgeot.png" width="250" height="250" class="imagens_centro"> <br>
    <ion-label class="nomes linha"> Pidgeot (Nivel 36)</ion-label> <br> <br> <br> <br>
  </div>

  <br>
  <br>
  <br>

  <ion-grid class="grid_center">

    <ion-row>
      <ion-col class="first_col">
        Habilidade Especial
      </ion-col>
      <ion-col class="second_col">
        Tangled Feet
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col class="first_col">
        Tipo
      </ion-col>
      <ion-col class="second_col">
        Normal/Voador
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col class="first_col">
        Espécie
      </ion-col>
      <ion-col class="second_col">
        Pokemon Pássaro
      </ion-col>
    </ion-row>

  </ion-grid>

  <br>
  <br>
  <br>

  <ion-button href="/tela-inicial-pokemons" class="button_pidgey"> Voltar </ion-button>

</ion-content>

<ion-progress-bar type="indeterminate" class="barra_progresso"></ion-progress-bar>

<ion-toolbar class="toolbar_preta">
  <ion-title class="title">
    By Luigi - 2° DS - Turma B
  </ion-title>
</ion-toolbar>
