<ion-header>
  <ion-toolbar class="toolbar_preta">
    <ion-title class="title"> Pikachu </ion-title>
  </ion-toolbar>
</ion-header>

<ion-progress-bar type="indeterminate" class="barra_progresso"></ion-progress-bar>

<ion-content class="fundo_geral">

  <br>
  <br>
  <br>
  <br>

  <div class="text_num_pokedex">
    <ion-label> Nº Pokédex: <span class="cor_amarela_text"> #025 </span></ion-label>
  </div>

  <img src="assets/pikacu.png" width="350" height="350"> <br>

  <br>
  <br>
  <br>
  <br>
  <br>

  <div class="tamanho_texto">
    <ion-label class="cor_texto"> 
      Pikachu é um Pokémon tipo <ion-chip class="button_eletrico"> elétrico </ion-chip>. Ele é a forma evoluida de <ion-chip class="button_eletrico"> Pichu </ion-chip> quando chega num certo ponto de amizade com o treinador e evolui para <ion-chip class="button_eletrico"> Raichu </ion-chip> quando esta segurando uma Thunder Stone.
      Pikachu é popularmente conhecido como o mascote do Pokémon e um grande representante da Nintendo mascotes coletivos.
      É também a versão mascote do Pokémon Yellow, onde é o único Pokémon inicial nesse jogo.
    </ion-label>
  </div>

  <br>
  <br>

  <ion-title class="origem_text"> Fisiologia </ion-title>

  <br>

  <div class="tamanho_texto">
    <ion-label class="cor_texto">
      Pikachu é um Pokémon roedor meio gordinho, com o pêlo amarelo em todo o seu corpo. As orelhas de Pikachu são longas e chegam a um ponto com pontas pretas. Ele tem uma boca pequena, que se assemelha a um lado tres, tem olhos negros com os alunos brancos e dois círculos vermelhos em suas bochechas. Seus antebraços são curtos e um pouco atarracado, com cinco dedos em cada "mão", e seus pés têm três dígitos. Ele tem duas listras marrons em suas costas, e sua cauda é em forma de raio Zigzag de estilo, com um pedaço de pele marrom na base da cauda. Embora seja tecnicamente um quadrúpede , em várias ocasiões tem sido mostrado para ser capaz de ficar de pé e andar ereto sobre as patas traseiras. <br> <br>
      Para além da sua evolução e pré-evolução, ele pode estar relacionado com Plusle, Minun, Pachirisu e Emolga devido às suas muitas semelhanças físicas e devido ao fato de que eles circulam electricidade através dos seus corpos. <br> <br>
      Além disso, pode ser um parente distante para Marril e Cinccino devido às suas características físicas semelhantes.
      Em Pikachu e Golias, quando Pikachu de Ash ficou ferido, foi mostrado para ter uma frequência cardíaca de 156. 
    </ion-label>
  </div>

  <br>
  <br>

  <ion-title class="origem_text"> Comportamento </ion-title>

  <br>

  <div class="tamanho_texto">
    <ion-label class="cor_texto">
      Em estado selvagem, Pikachu viajam frequentemente em embalagens, e raramente são territorial. No entanto, quando ameaçado, um grupo pode gerar uma intensa ofensiva eléctricidade, e as forças eletromagnéticas exercidas pelo campo resultante pode até mesmo produzir um vivida, localizada trovoada curto. Pikachu pode ser pragas e às vezes pode destruir postes, fios e outros equipamentos eletrônicos. <br> <br>
      Apesar disso, é um Pokémon popular, e relativamente fácil de manter, com pouco exercício necessária para o seu bem-estar. No entanto, é importante para descarregar a energia nas suas bochechas periodicamente. <br> <br>
      Como muitos sabem, puxando cauda de um Pikachu irá resultar em um severo choque para o agressor. Outra defesa de Pikachu é o uso de sua mordida desagradável, o que tem sido conhecido para deixar uma marca bastante.
    </ion-label>
  </div>

  <br>
  <br>
  <br>
  <br>

  <div class="imagens_centro">
    <ion-title class="origem_text">
      Cadeia evolutiva de Pikachu
    </ion-title>
    <img src="assets/Pichu.png" width="250" height="250" class="imagens_centro"> <br>
    <ion-label class="nomes linha"> Pichu </ion-label> <br> <br> <br> <br>
    <img src="assets/pikacu.png" width="250" height="250" class="imagens_centro"> <br>
    <ion-label class="nomes linha"> Pikachu (Amizade com o treinador) </ion-label> <br> <br> <br> <br>
    <img src="assets/Raichu.png" width="250" height="250" class="imagens_centro"> <br>
    <ion-label class="nomes linha"> Raichu (Thunder Stone)</ion-label> <br> <br> <br> <br>
  </div>

  <br>
  <br>
  <br>

  <ion-grid class="grid_center">

    <ion-row>
      <ion-col class="first_col">
        Habilidade Especial
      </ion-col>
      <ion-col class="second_col">
        Static
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col class="first_col">
        Tipo
      </ion-col>
      <ion-col class="second_col">
        Elétrico
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col class="first_col">
        Espécie
      </ion-col>
      <ion-col class="second_col">
        Pokemon Rato
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col class="first_col">
        Habilidade oculta
      </ion-col>
      <ion-col class="second_col">
        Lightning Rod
      </ion-col>
    </ion-row>

  </ion-grid>

  <br>
  <br>
  <br>

  <ion-button href="/tela-inicial-pokemons" class="button_pikachu"> Voltar </ion-button>

</ion-content>

<ion-progress-bar type="indeterminate" class="barra_progresso"></ion-progress-bar>

<ion-toolbar class="toolbar_preta">
  <ion-title class="title">
    By Luigi - 2° DS - Turma B
  </ion-title>
</ion-toolbar>
