<ion-header>
  <ion-toolbar class="toolbar_preta">
    <ion-title class="title"> Squirtle </ion-title>
  </ion-toolbar>
</ion-header>

<ion-progress-bar type="indeterminate" class="barra_progresso"></ion-progress-bar>

<ion-content class="fundo_geral">

  <br>
  <br>
  <br>
  <br>

  <div class="text_num_pokedex">
    <ion-label> Nº Pokédex: <span class="cor_azul_text"> #7 </span></ion-label>
  </div>

  <img src="assets/squirtle.png" width="350" height="350"> <br>

  <br>
  <br>
  <br>
  <br>
  <br>

  <div class="tamanho_texto">
    <ion-label class="cor_texto"> 
      Squirtle é um Pokémon do tipo <ion-chip class="button_text_water"> Water </ion-chip>. Squirtle é um dos três Pokémon iniciais de Kanto, assim como Bulbasaur e Charmander. Ele evolui para <ion-chip class="button_text_water"> Wartortle </ion-chip> no nível 16, que então evolui para <ion-chip class="button_text_water"> Blastoise </ion-chip> no nível 36.
    </ion-label>
  </div>

  <br>
  <br>

  <ion-title class="origem_text"> Fisiologia </ion-title>

  <br>

  <div class="tamanho_texto">
    <ion-label class="cor_texto">
      Squirtle é baseado em uma tartaruga marinha. Tem uma pele azul claro e usa um casco e junto também tem uma calda longa azul.
    </ion-label>
  </div>

  <br>
  <br>
  <br>
  <br>

  <div class="imagens_centro">
    <ion-title class="origem_text">
      Cadeia evolutiva de Squirtle
    </ion-title>
    <img src="assets/squirtle.png" width="250" height="250" class="imagens_centro"> <br>
    <ion-label class="nomes linha"> Squirtle</ion-label> <br> <br> <br> <br>
    <img src="assets/Wartortle.png" width="250" height="250" class="imagens_centro"> <br>
    <ion-label class="nomes linha"> Wartotle (Nivel 16) </ion-label> <br> <br> <br> <br>
    <img src="assets/Blastoise.png" width="250" height="250" class="imagens_centro"> <br>
    <ion-label class="nomes linha"> Blastoise (Nivel 36)</ion-label> <br> <br> <br> <br>
  </div>

  <br>
  <br>
  <br>

  <ion-grid class="grid_center">

    <ion-row>
      <ion-col class="first_col">
        Habilidade Especial
      </ion-col>
      <ion-col class="second_col">
        Torrent
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col class="first_col">
        Tipo
      </ion-col>
      <ion-col class="second_col">
        Agua
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col class="first_col">
        Espécie
      </ion-col>
      <ion-col class="second_col">
        Tartaruga
      </ion-col>
    </ion-row>

  </ion-grid>

  <br>
  <br>
  <br>

  <ion-button href="/tela-inicial-pokemons" class="button_squirtle"> Voltar </ion-button>

</ion-content>

<ion-progress-bar type="indeterminate" class="barra_progresso"></ion-progress-bar>

<ion-toolbar class="toolbar_preta">
  <ion-title class="title">
    By Luigi - 2° DS - Turma B
  </ion-title>
</ion-toolbar>
