.back_gradient {
    --background: linear-gradient(#21D4FD, rgb(21, 83, 141), #330298); 
}

.title {
    text-align: center;
    font-size: 25px;
    color: rgb(0, 0, 0);;
}

.button {
    --background: black;
    color: yellow;
    text-align: center;
}

.imagens {
    text-align: center;
}