<ion-content class="back_gradient">

  <div class="imagens">

    <img src="assets/pikachu.gif" width="110px" height="100px">
    <img src="assets/charmander.gif" width="110px" height="100px">
    <img src="assets/bulbasauro.gif" width="110px" height="130px">
    
  </div>

  <br>
  <br>

  <div class="button">

    <img src="assets/luigi.png" width="150px" height="200px"> 
    
    <br>

    <ion-button class="button" href="tela-inicial-pokemons">

     <img src="assets/pokeball.svg" width="32px" height="22px">
     POKEDEX 
     <img src="assets/pokeball.svg" width="32px" height="22px">

    </ion-button>

    <br>

    <ion-label>
      Created by Luigi
    </ion-label>

  </div>

  <br>
  <br>

  <div class="imagens">

    <img src="assets/pikachu.gif" width="110px" height="100px">
    <img src="assets/charmander.gif" width="110px" height="100px">
    <img src="assets/bulbasauro.gif" width="110px" height="130px">

  </div>


</ion-content>